body {
  font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  background-color: #c9af98;
}
.tabs-main {
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  µmargin: 0;
  padding: 0;
}
.tabs-nav li {
  width: 50%;
}
.tabs-nav li:first-child a {
  border-right: 0;
  border-top-left-radius: 6px;
}
.tabs-nav li:last-child a {
  border-top-right-radius: 6px;
}
a {
  background: #eaeaed;
  border: 1px solid #cecfd5;
  color: #3a4660;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}
a:hover {
  color: green;
}
.tab-active a {
  background: #FFFDD0;
  border-bottom-color: transparent;
  color: green;
  cursor: default;
}
.tabs-stage {
  border: 1px solid #cecfd5;
  border-radius: 0 0 6px 6px;
  border-top: 0;
  clear: both;
  padding: 24px 30px;
  position: relative;
  top: -1px;
  background-color: #FFFDD0;
}

#customer-list {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 10px;
  max-height: 20vh;
  overflow: scroll;
  padding: 0;
}

.rooms-available {
 display: table-caption;
 width: 25vh;
 height: 12vh;
 overflow: scroll;
}

#customer-list-element {
  border: 1px solid #c9af98;
  background-color: white;
  color: #3a4660;
  height: 3vh;
  font-size: 20px;
}

.customers-name {
  color: #3a4660;
  display: flex;
  justify-content: center;
  font-size: 55px;
}

#mySelect {
  background-color: #c9af98;
  border: 1px solid #3a4660;
  width:15vh;
  font-size: 18px;
  color: #3a4660;
}

main {
  color: #3a4660;
}

p {
  font-size: 20px;
}

.rooms-least-booked-date {
  width: 25vh;
  overflow: scroll;
  max-height: 20vh;
}

input {
  width: 20%;
  height: 3vh;
  font-size: 20px;
  color: #3a4660;
}

button {
  width: 14%;
  font-size: 20px;
  color: #3a4660;
  background: #eaeaed;
}

#typeSelect, 
#roomSelect {
  background-color: #FFFDD0;
  border: 1px solid #3a4660;
  width: 25vh;
  font-size: 18px;
  color: #3a4660;
}

h2 {
  margin-bottom: 0;
}

.customer-search-form {
  margin-top: 20px;
}